{% load static %}

<link rel="stylesheet", href="{% static 'css/show_aadhar.css'%}">

<center><p style="font-size: 1.8rem; font-weight: 600; color: whitesmoke; margin-top: 10px;">Show All Details</p></center>
<table  class="aadhar-table" border="2px solid black">
    <tr>
        <th>Sr. No</th>
        <th>Aadhar Number</th>
        <th>Created Date</th>
        <th>Created by</th>
        <th>Student Name</th>
        <th>Student Email</th>
        <th>Student Contact</th>
        
    </tr>
    {% for i in data %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.Aadhar_no}}</td>
        <td>{{i.Created_date}}</td>
        <td>{{i.Created_by}}</td>
         <td>{{i.aadhar.Stu_name}}</td> <!-- aadhar is a related_name parameter -->
        <td>{{i.aadhar.Stu_email}}</td>
        <td>{{i.aadhar.Stu_contact}}</td>
    </tr>
    {% endfor %}
</table>