{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Students</title>
    <link rel="stylesheet", href="{% static 'css/show_aadhar.css'%}">
</head>
<body>
    <center><p style="font-size: 1.8rem; font-weight: 600; color: whitesmoke; margin-top: 10px;">Show Student's Details</p></center>
    <table class="aadhar-table" border="2px solid black">
        <tr>
            <th>Sr. No</th>
            <th>Student Name</th>
            <th>Student Email</th>
            <th>Student Contact</th>
            <th>Student Adhar</th>
        </tr>
        {% for i in studentData%}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.Stu_name}}</td>
            <td>{{i.Stu_email}}</td>
            <td>{{i.Stu_contact}}</td>
            <td>{{i.Stu_aadhar}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>